.contact-con {
    padding-top: 80px;
}
.banner_img img{
    width: 100%;
    height: 200px;
}
.contact_container img {
    width: 100%;
    /* margin-top: 100px; */
    margin-left: 200px;
}

/* ----------------------------- */
.Contact-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.Contact-main .contact-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* 
.Contact-main .contact-page .contact-top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #003266;
    color: #fff;
}

.Contact-main .contact-page .contact-top h5 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-top: 2vmax;
    font-size: 2.3vmax;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.Contact-main .contact-page .contact-top p {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 1.2vmax;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: lighter;
} */

.Contact-main .contact-page .contact-btm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Contact-main .contact-page .contact-btm p {
    margin-top: 3vmax;
    letter-spacing: 1px;
}

.Contact-main .contact-page .contact-btm .form-page {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 3px 0px rgba(123, 123, 163, 0.895);
    border-radius: 5px;
    padding: 2vmax;
    flex-direction: column;
}

.Contact-main .contact-page .contact-btm .form-page form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5vmax;
    margin-top: 1vmax;
}

.Contact-main .contact-page .contact-btm .form-page form .ipt {
    width: 100%;
    border-radius: 5px;
}

.Contact-main .contact-page .contact-btm .form-page form .ipt input {
    width: 100%;
    border-radius: 5px;
    padding: 0.4vmax 1vmax;
    outline: none;
    border: none;
    border: 1px solid #bdbdbd;
}

.Contact-main .contact-page .contact-btm .form-page form .ipt select {
    width: 100%;
    border-radius: 5px;
    padding: 0.4vmax 0.6vmax;
    outline: none;
    color: #565656;
    border: none;
    border: 1px solid #bdbdbd;
}

.Contact-main .contact-page .contact-btm .form-page form .ipt .opt {
    color: #565656;
}

.Contact-main .contact-page .contact-btm .form-page form .ipt textarea {
    width: 100%;
    border-radius: 5px;
    padding: 0.7vmax 1vmax;
    outline: none;
    border: none;
    border: 1px solid #bdbdbd;
}

.Contact-main .contact-page .contact-btm .form-page h5 {
    color: #17a2b8;
}

.Contact-main .contact-page .contact-btm .form-page form .btn-cont {
    color: #17a2b8;
    border-color: #17a2b8;
    padding: .375rem .75rem;
    font-size: 1rem;
    background-color: transparent;
}

.Contact-main .contact-page .contact-btm .form-page form .btn-cont button {
    color: #17a2b8;
    border-color: #17a2b8;
    padding: .375rem .75rem;
    font-size: 1rem;
    background-color: transparent;
}

.Contact-main .contact-page .contact-btm .form-page form .btn-cont button:hover {
    background: #17a2b8;
    color: #ffffff;
}

/* Input field focus effect */
.Contact-main .contact-page .contact-btm .form-page form .ipt input:focus,
.Contact-main .contact-page .contact-btm .form-page form .ipt select:focus,
.Contact-main .contact-page .contact-btm .form-page form .ipt textarea:focus {
    border: 0.2px solid #003f80;
    /* Blue border on focus */
    outline: none;
}

/* ---------------------------------------------------------------------------------- */

.contact_box {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact_box h4 {
    color: #27ae60;
}

.contact_box h5 {
    color: #6d6b6b;
}

.contact_box p {
    color: #6d6b6b;
}

.con_head h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #17a2b8;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.contact_map iframe {
    border-radius: 10px;
}

/* ----------------------------------------- */
@media (max-width: 768px) {
    .contact_box {
        /* padding: 20px; */
    }

    .con_head h3 {
        font-size: 1.5rem;
    }
}

@media (max-width:600px) {
    .contact_container img {
        width: 100%;
        margin-left: 0;
    }

    .contact_box {
        flex-direction: column;
    }

    .Contact-main {
        width: 100%;
    }

    .Contact-main .contact-page {
        width: 100%;
        padding-bottom: 3vmax;
    }

    /* .Contact-main .contact-page .contact-top {
        width: 100%;
    }

    .Contact-main .contact-page .contact-top h5 {
        width: 90%;
        font-size: 3.5vmax;
    }

    .Contact-main .contact-page .contact-top p {
        width: 90%;
        font-size: 1.8vmax;
    } */

    .Contact-main .contact-page .contact-btm {
        width: 90%;
    }

    .Contact-main .contact-page .contact-btm p {
        margin-top: 3vmax;
        text-align: center;
        font-size: 2.5vmax;
    }

    .Contact-main .contact-page .contact-btm .form-page {
        width: 100%;
    }

    .Contact-main .contact-page .contact-btm .form-page form {
        gap: 3vmax;
        margin-top: 2vmax;
    }

    .Contact-main .contact-page .contact-btm .form-page form .ipt input {
        padding: 1.8vmax 1vmax;
    }

    .Contact-main .contact-page .contact-btm .form-page form .ipt select {
        padding: 1.8vmax 0.6vmax;
    }

    .Contact-main .contact-page .contact-btm .form-page form .ipt textarea {
        padding: 0.8vmax 1vmax;
    }

    .Contact-main .contact-page .contact-btm .form-page form .btn-cont {
        color: #003266;
        font-weight: 600;
        border-radius: 5px;
        border: 2px solid #003266;
        -webkit-box-shadow: 0 2px #003f80;
        -moz-box-shadow: 0 2px #003f80;
        box-shadow: 0 2px #003f80;
    }

    .Contact-main .contact-page .contact-btm .form-page form .btn-cont button {
        padding: 10px 20px;
        color: #003f80;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        font-size: 0.9rem;
        background: none;
        font-weight: 600;
    }
}

@media (min-width:600px) and (max-width:1150px) {
    .Contact-main {
        width: 100%;
    }

    .Contact-main .contact-page {
        width: 100%;
        padding-bottom: 3vmax;
    }

    /* .Contact-main .contact-page .contact-top {
        width: 100%;
    }

    .Contact-main .contact-page .contact-top h5 {
        width: 90%;
        font-size: 3.5vmax;
    }

    .Contact-main .contact-page .contact-top p {
        width: 90%;
        font-size: 1.8vmax;
    } */

    .Contact-main .contact-page .contact-btm {
        width: 90%;
    }

    .Contact-main .contact-page .contact-btm p {
        margin-top: 3vmax;
        text-align: center;
        font-size: 2.5vmax;
    }

    .Contact-main .contact-page .contact-btm .form-page {
        width: 100%;
    }

    .Contact-main .contact-page .contact-btm .form-page form {
        gap: 3vmax;
        margin-top: 2vmax;
    }

    .Contact-main .contact-page .contact-btm .form-page form .ipt input {
        padding: 1.8vmax 1vmax;
    }

    .Contact-main .contact-page .contact-btm .form-page form .ipt select {
        padding: 1.8vmax 0.6vmax;
    }

    .Contact-main .contact-page .contact-btm .form-page form .ipt textarea {
        padding: 0.8vmax 1vmax;
    }

    .Contact-main .contact-page .contact-btm .form-page form .btn-cont {
        color: #003266;
        font-weight: 600;
        border-radius: 5px;
        border: 2px solid #003266;
        -webkit-box-shadow: 0 2px #003f80;
        -moz-box-shadow: 0 2px #003f80;
        box-shadow: 0 2px #003f80;
    }

    .Contact-main .contact-page .contact-btm .form-page form .btn-cont button {
        padding: 10px 20px;
        color: #003f80;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        font-size: 0.9rem;
        background: none;
        font-weight: 600;
    }
}



/* Responsive Styles */


@media (max-width: 768px) {
    .contact_box {
        /* padding: 20px; */
    }

    .contact_box h4 {
        font-size: 1.5rem;
    }

    .contact_box h5 {
        font-size: 1.2rem;
    }

    .contact_box p {
        font-size: 1rem;
    }

    .con_head h3 {
        font-size: 1.75rem;
    }

    .contact_map iframe {
        height: 250px;
    }


    .contact_box .row {
        display: flex;
        flex-direction: column;
    }

    .contact_box .col {
        width: 100%;
        margin-bottom: 20px;
    }
}


@media (max-width: 480px) {
    .contact_box {
        /* padding: 15px; */
    }

    .contact_box h4 {
        font-size: 1.25rem;
    }

    .contact_box h5 {
        font-size: 1rem;
    }

    .contact_box p {
        font-size: 0.9rem;
    }

    .con_head h3 {
        font-size: 1.5rem;
    }

    .contact_map iframe {
        height: 200px;
    }
}